<div [hidden]="tokenExpired" >
  <h3>Réinitialisation de mot de passe :</h3>
  <div [hidden]="!error" class="alert alert-danger">Les mots de passes entrés sont vides ou différents ! </div>
  <div [hidden]="!done" class="alert alert-success">Mot de passe modifier ! Redirection vers la page d'acceuil dans quelque instants... </div>
  <form [formGroup]="restPasswordForm" (ngSubmit)="onSubmit()" #form="ngForm"  class="form">
      <mat-form-field class="full-width">
          <mat-label>Nouveau mot de passe</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Votre nouveau mot de passe">
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Confirmation du nouveau Mot de passe</mat-label>
          <input type="password" matInput formControlName="checkPassword" placeholder="Confirmez votre nouveau mot de passe">
        </mat-form-field>

        <input  type="submit" value="Modifier le mot de passe" >

  </form>
</div>
<div [hidden]="!tokenExpired" class="alert alert-danger">Ce lien est expiré ou conronpue ! </div>