<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="center-div">
    
  <div>
      <h1>Création de compte</h1>
      <div>
            <mat-form-field appearance="fill" >
              <mat-label>Nom</mat-label>
              <input matInput formControlName="last_name">
              <mat-error>
                Nom <strong>manquant</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
           <mat-form-field appearance="fill" >
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="first_name">
              <mat-error>
                Prénom <strong>manquant</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" >
              <mat-label>Email</mat-label>
              <input  matInput formControlName="email" >
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  L'email n'est pas <strong>valide</strong>
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email <strong>manquant</strong>
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('existing')">
                  <strong>Email déja exsitante dans notre base !</strong>
                </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill"  >
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error>
                  Mot de passe <strong>manquant</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field  appearance="fill">
                <mat-label>Confirmer le Mot de passe</mat-label>
                <input matInput formControlName="confirmPassword" type="password">
                <mat-error *ngIf="registrationForm.hasError('notSame')">
                  <strong>Les mot de passes sont différents</strong>
                </mat-error>
              </mat-form-field>
            </div>

        <input  type="submit" value="Créer son compte" >
        <input  type="button" routerLink="/login" value="Mot de passe oubliée ?" >
      </div> 
</form>