<div [hidden]="menuHaveSomething">
    <h1>Aucun article de disponible </h1>
</div>
<div [hidden]="!menuHaveSomething">
    <h2>Carte</h2>
    <div class="menuOptions">
        <mat-form-field appearance="fill">
            <mat-label>Catégorie</mat-label>
            <mat-select [(value)]="selectedTypeArticle" (selectionChange)="selectType()">
                <mat-option *ngFor="let value of listTypeArticle" [value]="value" >{{ value }}</mat-option>
            </mat-select>
        </mat-form-field>
    
    <mat-form-field >
        <mat-label>Boisson/nouriture</mat-label>
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]='search' />
    </mat-form-field>
</div>
        <mat-paginator [length]="length" [pageSize]="pageSize" (page)="OnPageChange($event)"></mat-paginator>
    


    <mat-grid-list cols="4" rowHeight="365px">
        <mat-grid-tile *ngFor="let item of listArticle">
            <mat-card class="card">
                <div *ngIf="item.picture">
                    <img mat-card-image src="{{item.picture}}" alt="" width="500" height="250" > 
                </div>
                <div *ngIf="!item.picture">
                    <img mat-card-image src="assets/img/image-not-found.jpg" alt="Not Found" width="500" height="250" > 
                </div>
               <mat-card-header>
                    <mat-card-title>{{item.name}} {{item.price}}€</mat-card-title>   
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button (click)="selectItem(item)" >Réserver</button>
                  </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>
