.menuOptions{
    float:left;
    margin-right:5px;
  }

.searchBar {
    width: 500px;
  }


@media screen and (max-width: 2560px) { 
  
    .card {
      max-width: 400px;
    }

    img {
      width: 400px;
      height: 250px;
    }
  
  }
  
@media screen and (max-width: 1920px) {

    .card {
      max-width: 330px;
      max-height: 250px;
    }

    img {
      width: 325px;
      height: 150px;
    }
  
   }