mat-grid-tile {
  background: #c4cf43;
}


@media screen and (max-width: 2560px)  {
  table {
    width: 100%;
  }

  .cart-container {
    height: 375px;
    width: 100%;
    overflow: auto;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .button-row {
    display: table-cell;
    text-align: center;
  }
  
  .error {
    background: red;
  }
}

@media screen and (max-width: 1920px) {

  table {
    width: 100%;
  }
  .cart-container {
    height: 250px;
    width: 100%;
    overflow: auto;
  }

  .button-row {
    display: table-cell; 
    text-align: center;
  }

  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .card {
    max-width: 400px;
  }

}