<div class=imageDeFond></div>
<div class=contenu >
  <div style="text-align:left">
      <img class="logo" alt="Logo" src="assets/img/logo.png">
  </div>
  <div [ngClass] = " { 'navBarCssLogin': accountLogIn == true, 'navBarCssLogout': accountLogIn == false, 'navBarCssLoginCooker': coockerLogIn == true } ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" (click)="isOpen = false" >Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu" (click)="isOpen = false" >Voir la carte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" *ngIf="coockerLogIn == false">Panier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="accountLogIn == true"  routerLink="/profile">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="coockerLogIn == true"  routerLink="/dashboard">Tableau de bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="accountLogIn == false && coockerLogIn == false" (click)="toggle()" >Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/report" (click)="isOpen = false" >Signalez un bug</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="accountLogIn == true || coockerLogIn == true" routerLink="/home" (click)="logout()">Déconnexion</a>
        </li>
      </ul>
    </nav>
  </div>
  <form class="formLogin" [formGroup]="loginForm" [@showErrorOnForm]="errorInLogin ? 'active' : 'inactive'"  [@openClose]="isOpen ? 'open' : 'closed'" (ngSubmit)="onSubmit()" #form="ngForm">
    <div>
      <input id="email" formControlName="email" class="formLoginEmail" type="email" placeholder="votre.email@correct.com" (input)="somethingInEmailField()" [@showErrorOnEmail]="errorInEmail ? 'active' : 'inactive'">
      <input id="password" formControlName="password" class="formLoginPassword" type="password" placeholder="Mot de passe" (input)="somethingInPasswordField()" [@passwordEmptyAnima]="passwordEmpty ? 'active' : 'inactive'" > 
      <input class="formLoginButton" type="submit" value="{{valueOfButton}}" routerLink="{{routerLinkOnButton}}">
    </div> 
  </form>
  <main class="body">
    <router-outlet></router-outlet>
  </main>
</div>
  
  
