<div *ngIf="data.FormDialogArticle == 0" >
  <mat-dialog-content>    
        <p>Création d'un nouvel article </p>
          <div>
            <mat-form-field >
              <mat-label>Nom </mat-label>
              <input matInput  [(ngModel)]="data.name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>Prix </mat-label>
              <input  type="number" matInput [(ngModel)]="data.price" >
           </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select [(ngModel)]="data.value">
                <mat-option *ngFor="let value of data.listTypeArticle" [value]="value">{{ value }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div>
            <div>
              <mat-label>{{ nameFile }}</mat-label>
            </div>
            <button  mat-stroked-button (click)="uploader.click()"> Ajouter une image </button>
              <input  #uploader hidden type="file" (change)="uploadFile($event)" name="file"> 
          </div> -->

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Créer</button>
    <button mat-button mat-dialog-close>Annuler</button>    
  </mat-dialog-actions>
</div>

<div *ngIf="data.FormDialogArticle == 1" >
  <mat-dialog-content>    
        <p>Modifier l'article</p>
        <div>
            <mat-form-field >
              <mat-label>Nom </mat-label>
              <input matInput  [(ngModel)]="data.name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
              <mat-label>Prix </mat-label>
              <input type="number" matInput [(ngModel)]="data.price">
          </mat-form-field>
        </div>
       <!-- <div>
          <div>
            <mat-label>{{ nameFile }}</mat-label>
          </div>
          <button  mat-stroked-button (click)="uploader.click()"> Ajouter une image </button>
            <input  #uploader hidden type="file" (change)="uploadFile($event)" name="file"> 
        </div>-->
        
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Modifier</button>
    <button mat-button mat-dialog-close>Annuler</button>    
  </mat-dialog-actions>
</div>

<div *ngIf="data.FormDialogArticle == 2" >
  <mat-dialog-content>    
        <p>Etes-vous sûr(e) de vouloir supprimer {{data.name}} ?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]=true cdkFocusInitial>Oui</button>
    <button mat-button mat-dialog-close>Non</button>    
  </mat-dialog-actions>
</div>

<div *ngIf="data.FormDialogArticle == 3" >
  <mat-dialog-content>    
        <p>{{data.name}} à été crée ! </p>
  </mat-dialog-content>
</div>


<div *ngIf="data.FormDialogArticle == 4" >
  <mat-dialog-content>    
        <p>Une erreur est survenu ! ( code : {{data.name}} )</p>
  </mat-dialog-content>
</div>

<div *ngIf="data.FormDialogArticle == 5" >
  <mat-dialog-content>    
        <p>L'article a été modifié</p>
  </mat-dialog-content>
</div>

<div *ngIf="data.FormDialogArticle == 6" >
  <mat-dialog-content>    
        <p>L'article bien été supprimé </p>
  </mat-dialog-content>
</div>

<div *ngIf="data.FormDialogArticle == 7" >
  <mat-dialog-content>    
        <p>Pour créer un article, vous devez avoir au moins 1 type d'article de défini  </p>
  </mat-dialog-content>
</div>