.Selected {
    background-color: #6f9278
}

.contentMenuText {
    text-align: center;
}

.bar-title1 {
    background: white;
}

.background-menu {
    background: #a0cfac;
}

.bar-title2 {
    background: white;
}


  .mat-paginator {
   
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .row{
    justify-content: center;
  }
  @media screen and (max-width: 2560px) { 

    .menu-card {
        width: 400px;
        Height: 635px;
      }
    
    }
  @media screen and (max-width: 1920px) {   

    .menu-card {
        width: 400px;
        Height: 455px;
      }

    } 
