<div [hidden]="menuHere">
    <h1>Aucun menu de disponible </h1>
</div>
<div [hidden]="!menuHere">
     <mat-grid-list cols="5" rowHeight="100px"  >
        <mat-grid-tile [colspan]="3" [rowspan]="1" class="bar-title1">
                <h2>Sélection du jour :</h2>
        </mat-grid-tile>
       <mat-grid-tile [colspan]="2" [rowspan]="1" class="bar-title2">
           <h2>Menu en image :</h2>
        </mat-grid-tile>
    </mat-grid-list> 
    <mat-grid-list cols="5" rowHeight="{{ rowHeight }}" >
    
        <mat-grid-tile  *ngFor="let item of listMenuPage; let i = index;" [rowspan]="1" class="background-menu">
            <mat-card  class="menu-card" *ngIf="item.name" [class.Selected]="i===selectedIndex" (click)="showPictureOfMenu(i,item)">
                <div *ngIf="item.picture">
                    <img mat-card-image src="{{item.picture}}" alt="" width="500" height="250"> 
                </div>
                <div *ngIf="!item.picture">
                    <img mat-card-image src="assets/img/image-not-found.jpg" alt="Not Found"> 
                </div>       
                    <div style="text-align:center;">
                        <mat-card-title> {{ item.name }}</mat-card-title>
                    </div>  
                <mat-card-content>
                    <p style="text-align:center;">
                        {{ item.description }}
                    </p>
                    <p style="text-align:center;">
                        {{ item.price_final }} €
                    </p>
                  </mat-card-content>
                <mat-card-actions>
                    <div style="text-align:center;">
                        <button mat-button (click)="showDescription(item)">Infos</button>
                        <button mat-button (click)="pickMenu(item)" >Réserver</button>
                    </div>
                  </mat-card-actions>
            </mat-card>   
        </mat-grid-tile>
    
       
        <mat-grid-tile [colspan]="2" [rowspan]="1" class="background-menu">
            <div class="row">
                <div *ngFor="let item of listPictureOfMenu; let i = index;" [hidden]="!showMenuContent" >
                    <div *ngIf="item['Article.picture'] && 6 > i" >
                        <img mat-card-image src="{{item['Article.picture']}}" alt="Image" >
                    </div>
                    <div *ngIf="!item['Article.picture'] && 6 > i">
                        <img mat-card-image src="assets/img/image-not-found.jpg" alt="Not Found">
                    </div>
                </div> 
            </div>
            <div *ngIf="!listPictureOfMenu" [hidden]="!showMenuContent" >
                <h5>Le menu ne posséde pas d'article </h5>
            </div>
            <div [hidden]="showMenuContent" >
                <h5>Aucun menu de sélectionné </h5>
            </div>
        </mat-grid-tile> 
    </mat-grid-list>
    <mat-paginator [length]="length" [pageSize]="3" (page)="OnPageChange($event)"></mat-paginator>
</div>