<div [hidden]="menuHere">
    <h1>Aucun menu de disponible </h1>
</div>
<div [hidden]="!menuHere">
     <mat-grid-list cols="5" rowHeight="100px"  >
        <mat-grid-tile [colspan]="3" [rowspan]="1" class="bar-title1">
                <h2>Sélection du jour :</h2>
        </mat-grid-tile>
    </mat-grid-list> 
    <mat-grid-list cols="5" rowHeight="655px" >
    
        <mat-grid-tile  *ngFor="let item of listMenuPage; let i = index;" [rowspan]="1" class="background-menu">
            <mat-card  class="menu-card" *ngIf="item.name" [class.Selected]="i===selectedIndex" (click)="showPictureOfMenu(i,item)">
                <div *ngIf="item.picture">
                    <img mat-card-image src="{{item.picture}}" alt="" width="500" height="250"> 
                </div>
                <div *ngIf="!item.picture">
                    <img mat-card-image src="assets/img/image-not-found.jpg" alt="Not Found"> 
                </div>       
                    <div style="text-align:center;">
                        <mat-card-title> {{ item.name }}</mat-card-title>
                    </div>  
                <mat-card-content>
                    <p style="text-align:center;">
                        {{ item.description }}
                    </p>
                    <p style="text-align:center;">
                        {{ item.price_final }} €
                    </p>
                  </mat-card-content>
                <mat-card-actions>
                    <div style="text-align:center;">
                        <button mat-button (click)="pickMenu(item)" >Réserver</button>
                    </div>
                  </mat-card-actions>
            </mat-card>   
        </mat-grid-tile>
    
       
   
    </mat-grid-list>
    <mat-paginator [length]="length" [pageSize]="3" (page)="OnPageChange($event)"></mat-paginator>
</div>
